bin/Release/netcoreapp3.1/publish/ResponseLogicApp.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Compose": {
        "type": "compose",
        "runAfter": {},
        "inputs": { "body": "Hello from Logic Apps running with Dapr!" }
      },
      "MyHttp": {
        "type": "Http",
        "runAfter": { "Compose": [ "Succeeded" ] },
        "inputs": {
          "method": "POST",
          "uri": "https://prod-66.eastus.logic.azure.com:443/workflows/aea2a6df2aae415089eb3ff8f321ab86/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=xZSQI1Bt30vGF7-Exl95N67IjAbt9ZTtpb3Ps4H_nsI",
          "body": "@body('compose')"
        }
      },
      "Response": {
        "inputs": {
          "body": {
            "value": "@body('compose')"
          },
          "statusCode": 200
        },
        "runAfter": { "MyHttp": [ "Succeeded" ] },
        "type": "Response"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {},
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {}
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "parameters": {},
  "runtimeConfiguration": {
    "operationOptions": "OptimizedForHighThroughput"
  }
}