samples/sendSingleEventWorkflow/workflow.json
{
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
        "Send_Single_Event": {
          "type": "ServiceProvider",
          "inputs": {
            "parameters": {
              "eventHubName": "<put-your-event-hub-name-here>",
              "eventData": {
                "contentData": "<put-your-event-content-here>"
              }
            },
            "serviceProviderConfiguration": {
              "serviceProviderId": "/serviceProviders/eventHub",
              "operationId": "sendEvent",
              "connectionName": "eventHubConnectionString"
            }
          },
          "runAfter": {}
        },
        "Compose": {
          "type": "compose",
          "runAfter": {
            "Send_Single_Event": [
              "Succeeded"
            ]
          },
          "inputs": "@body('Send_Single_Event')"
        },
        "Response": {
          "inputs": {
            "body": {
              "value": "@body('compose')"
            },
            "statusCode": 200
          },
          "runAfter": { "Compose": [ "Succeeded" ] },
          "type": "Response"
        }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {},
      "triggers": {
        "manual": {
          "inputs": {
            "schema": {}
          },
          "kind": "Http",
          "type": "Request"
        }
      }
    }
  }
  